body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.icon-size
{
    font-size: 87px;
}.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}